.row {
	float: left;
	margin-bottom: 10px;

	&::after {
		content: '';
		display: block;
		clear: both;
	}

	&--full-width {
		width: 100%;
	}

	&--max-width {
		width: calc(100% + 52px);
		margin-left: -26px;
	}
}

.column {
	float: left;

	&--align-right {
		float: right;
	}

	&--space-right {
		margin-right: 10px;
	}

	&--space-right-large {
		margin-right: 30px;
	}
	&--space-left-large {
		margin-left: 30px;
	}
}